@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100;400&display=swap");

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  
}
html {
  font-size: 16px;
}
body {
  color: white;
  font-size: 1.4em;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 90%;
}
header {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
  display: grid;
  place-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
  }
  nav {
    ul {
      display: flex;
      gap: 15px;
      justify-content: flex-end;
      list-style: none;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;

      li {
        a {
          text-decoration: none;
          color: #757575;
        }
      }
    }
  }
}
video.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay {
  position: absolute;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}
.slide-content {

  z-index: 2;
  display: grid;
  place-items: center;
  width: 100%;
  
  
}
h2.slide-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  
}
section {
  display: grid;
  place-items: center;
}
.hero {


  img {
    position: relative;
    z-index: 1;
    width: 600px;
    max-width: 80vw;
  }
  
}
